<div class="play">
  <div class="container-fluid">
    <div class="row flex-nowrap">

      <div class="container-fluid p-0 m-0">
        <div class="row">
          <div class=" col col-lg-5 col-md-5 col-sm-5 ms-5">
            <hr class="my-4" />
            <iframe class="boxing embed-responsive-item" style="justify-content: center" width="500" height="300"
              [src]="safeUrl" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="button_sort">


          <button class="btn btn-sm text-success bg-white m-2"><a routerLink="/userview" class="bttn">
              Back to All Movies</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
   <div class="modal"  id="playMovieModal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <iframe [src]="safeUrl"></iframe>
            </div>
          </div>
        </div>
      </div> -->